#pond {
    display: flex;
  justify-content:flex-end;
  }

  #pond {
    display: flex;
  justify-content:center
  }
  
  #pond {
    display: flex;
  justify-content: space-around;
  }

  #pond {
    display: flex;
  justify-content:space-between;
  }

  #pond {
    display: flex;
  align-items:flex-end
  }

  #pond {
    display: flex;
  align-items:center;
  justify-content:center;
  }

  #pond {
    display: flex;
  justify-content:space-around;
  align-items: flex-end;
  }

  #pond {
    display: flex;
  flex-direction: row-reverse;
  }

  #pond {
    display: flex;
  flex-direction:column
  }

  #pond {
    display: flex;
  flex-direction:row-reverse;
  justify-content:flex-end;
  }

  #pond {
    display: flex;
  flex-direction:column;
  justify-content: flex-end
  }

  #pond {
    display: flex;
  flex-direction:column-reverse;
  justify-content: space-between
  }

  #pond {
    display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items:flex-end
  }

  #pond {
    display: flex;
  }
  
  .yellow {
  order: 3
  }

  #pond {
    display: flex;
  }
  
  .red {
  order:-1
  }

  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self:flex-end
  }

  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self:flex-end;
  order:7
  }

  #pond {
    display: flex;
  flex-wrap:wrap; 
  }
  
  #pond {
    display: flex;
  flex-direction:column;
  flex-wrap: wrap
  }

  #pond {
    display: flex;
  flex-flow:column wrap
  }

  #pond {
    display: flex;
    flex-wrap: wrap;
  align-content:flex-start
  }

  #pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-end
  }
  #pond {
    display: flex;
    flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center
  }

  #pond {
    display: flex;
  flex-flow: column-reverse wrap; 
  align-items:flex-end;
  justify-content: center;
  align-content:space-between;
  }


  /* GRID  */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start:3
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:5
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:4
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 5;
  grid-column-end:2
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:-2
  }
  
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:-3
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 2;
  grid-column-end: span 2
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:span 5
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start:span 3
    grid-column-end: 6;
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column:4/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 2/ 5
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row-start:3
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row:3/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column:2/3;
  grid-row: 5/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 2/28;
  grid-row:1/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-area: 1/2/4/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water-1 {
    grid-area: 1 / 4 / 6 / 5;
  }
  
  #water-2 {
  grid-area:2/3/5/6
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  #poison {
  order: 5
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  .poison {
  order: -5
  }

  #garden {
    display: grid;
  grid-template-columns: 50% 50% 
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

  #garden {
    display: grid;
  grid-template-columns: repeat(7, 12.5%)
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

  #garden {
    display: grid;
  grid-template-columns: 100px 3em 40%
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  #garden {
    display: grid;
  grid-template-columns: 1fr 5fr
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  #garden {
    display: grid;
  grid-template-columns: 2 
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  #poison {
    grid-area: 1 / 5 / 6 / 6;
  }